@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .zero {
    transform: scale(0);
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .text-xxs {
    font-size: 0.65rem;
  }
  
